html {
    font-size: 14px;
}

.blog-masthead {
    background-color:#b34848
}
.blog-post-title,
.blog-title,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
color:#b34848
}

.nav-link:hover {
text-decoration-line:underline
}

.new-post{
    text-align:center,
    padding: 20px
}